				<section class="section-contact">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<div class="contact-block"><strong class="title">USUAL CHANNELS: </strong>
									<ul class="contact-list">
										<li><a href="tel:646.534">646.534.BARN</a></li>
										<li><a href="mailto:INFO@BBBARN.COM">INFO@BBBARN.COM</a></li>
										<li><a href="mailto:JOBS@BBBARN.COM">JOBS@BBBARN.COM</a></li>
										<li><a href="mailto:@BOYBURNSBARN">@BOYBURNSBARN</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-4">
								<div class="contact-descr"><strong class="main-text"> BOY BURNS BARN is located in the greater New York City area. </strong>
									<p>However, we also operate a virtual office with collaborators in various parts of the United States. Having serviced clients in multiple cities coast to coast, north and south, not to mention countries in Europe and Asia where we are is mere footnote. We can work with you no matter where you are at any scale and detail level. Our ability to communicate via technology is impeccable. Our conversational skills are bar none. We’re excelent listeners and visual translaters.</p>
									<p>Meetings can be requested and we love meeting new people. Or, we can just get right to work. Win win either way.!</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-holder"><strong class="form-title">JUMP RIGHT IN:</strong>
									<form action="">
										<div class="input-group">
											<label for="#firstname">first name:</label>
											<input id="firstname" type="text" name="firstname">
										</div>
										<div class="input-group">
											<label for="#lastname">last name:</label>
											<input id="lastname" type="text" name="lastname">
										</div>
										<div class="input-group">
											<label for="#company">company:</label>
											<input id="company" type="text" name="company">
										</div>
										<div class="input-group">
											<label for="#email">email:</label>
											<input id="email" type="email" name="email">
										</div>
										<div class="input-group">
											<label for="#text">WHAT’S UP?</label>
											<textarea id="text" name="text" cols="30" rows="10"></textarea>
										</div>
										<div class="btn-wrap">
											<button class="btn">fire</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>