			<footer class="footer" id="footer">
				<div class="footer-nav">
					<div class="container">
						<ul class="navbar-nav">
							<li><a href="/projects">See all work!</a></li>
							<li><a href="/about">Learn more!</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-main">
					<div class="container">
						<div class="text-holder">
							<section class="section-contact collapse" id="FormCollapse">
								<div class="container">
									<div class="row">
										<div class="col">
											<div class="form-holder">
												<h5 class="form-title">JUMP RIGHT IN:</h5>
												<form action="">
													<div class="row">
														<div class="col-md-6">
															<div class="input-group">
																<label for="#firstname">first name:</label>
																<input id="firstname" type="text" name="firstname">
															</div>
															<div class="input-group">
																<label for="#lastname">last name:</label>
																<input id="lastname" type="text" name="lastname">
															</div>
															<div class="input-group">
																<label for="#company">company:</label>
																<input id="company" type="text" name="company">
															</div>
															<div class="input-group">
																<label for="#email">email:</label>
																<input id="email" type="email" name="email">
															</div>
														</div>
														<div class="col-md-6">
															<div class="input-group">
																<label for="#text">WHAT’S UP?</label>
																<textarea id="text" name="text" cols="30" rows="10"></textarea>
															</div>
															<div class="btn-wrap">
																<button class="btn" type="submit">fire.</button>
															</div>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</section>
							<div class="text d-flex justify-content-center flex-wrap"><a data-toggle="collapse" href="#FormCollapse" role="button" aria-expanded="false" aria-controls="FormCollapse"><span class="decor"></span><span class="descr-block"><span> SEEN ENOUGH ~ HEARD ENOUGH</span><span class="separator">/</span><span>NEW BUSINESS & OTHER INQUIRIES</span></span><span class="decor"></span></a></div>
						</div>
					</div>
				</div>
				<div class="footer-sub">
					<div class="container">
						<div class="inner">
							<div class="to-top-holder"><a href="#wrapper"><i></i>TOP OF PAGE</a></div>
							<div class="content-info">
								<h5 class="title">BOY BURNS BARN LLC</h5>
								<div class="contacts">
									<ul class="list">
										<li><a href="mailto:INFO@BBARN.COM">INFO@BBBARN.COM</a></li>
										<li><span>PH: </span><a href="phone:646534">646.534.BARN</a></li>
									</ul>
								</div>
								<div class="text">
									<p>LOCATED IN THE NEW YORK CITY AREA DOING WORK NATIIONALLY AND GLOBALLY ©BOYBURNSBARN ALL RIGHTS RESERVED 2020</p>
								</div>
							</div>
							<div class="soc-holder"><i></i><a href="#">INSTAGRAM FOR BREAKING NEWS</a></div>
						</div>
					</div>
				</div>
			</footer>
