		<!-- <nav class="nav">
			<div class="nav-container">
				<a href="{{ "/" | relURL }}">
					<h1 class="nav-title">{{ .Site.Title }}</h1>
				</a>
				{{ partial "header-menu.html" . }}
			</div>
		</nav> -->
			

			<header class="header" id="header">
				<div class="inner">
					<div class="header-main">
						<div class="container">
							<div class="navbar-brand-holder">
								<!-- <img src="/images/smoke-background.png"  id="smoke-background" width="200" height="100"><canvas id="smoke" style="width:100px;height:100px"></canvas> -->
								<!-- <div id="smokecontainer"> -->
									<img src="/images/smoke-background.png"  id="smoke-background" width="300" height="300">
									<canvas id="smoke" style=""></canvas>
									<div id="underlay"><a class="navbar-brand" href="#"><img src="/images/logo.png" width="118" height="80" alt="image description"></a></div>
								<!-- </div> -->
								<div class="logo-title">
									<a href="/"><h2>BOYBURNSBARN</h2></a>
								</div>
								<div class="logo-text-sm"><span>{{ $.Page.Params.header_blurb }}</span>
								</div>
							</div>
							<div class="header-text">
								<p>{{ $.Page.Params.header_message }}</p>
							</div>
						</div>
					</div>

					<nav class="navbar navbar-expand-md">
						<div class="container">
							<!-- <div class="inner-width"> -->
									
								<div class="navigation-logo-title">
									<a href="/"><h2>BOYBURNSBARN</h2></a>
								</div>
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
								<div class="collapse navbar-collapse" id="navbarSupportedContent">
									{{ partial "navigation-links.html" . }}
									<div class="front-cover">
										<a href="/"><span class="front-cover-exclaim">!</span>FRONT COVER<span class="front-cover-exclaim">!</span></a>
									</div>
								</div> 
							<!-- </div> -->
								
						</div>
					</nav>
				</div>
			</header>

		