			<header class="header-about" id="header-project">
				<div class="topnavbar-holder">
					<nav class="topnavbar navbar navbar-expand-md">
						<div class="container">
							<div class="inner">
								<div class="mobile-brand-holder">
									<div class="navbar-brand"><a href="/">BOYBURNSBARN</a></div>
									<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarproject" aria-controls="navbarproject" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
								</div>
								<div class="collapse navbar-collapse" id="navbarproject">
									<div class="navbar-brand"><a href="/">BOYBURNSBARN</a></div>
									{{ partial "navigation-links.html" }}
								</div>
							</div>
						</div>
					</nav>
				</div>
			</header>