			<header id="header-project-single" class="header-project">
					<nav class="navbar navbar-expand-md fixed-position-faux">
						<div class="container">
							<!-- <div class="inner-width"> -->
									
								<div class="navigation-logo-title">
									<a href="/"><h2>BOYBURNSBARN</h2></a>
								</div>
								
								<!-- <div class="inner"> -->
									
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
								<div class="collapse navbar-collapse" id="navbarSupportedContent">
									{{ partial "navigation-links.html" . }}
								</div> 
							</div>
							<!-- </div> -->
							
								
						<!-- </div> -->
					</nav>
			</header>