{{ define "header" }}
	{{ partial "header.html" . }}
{{ end}}


{{ define "main" }}

				<section class="section-about text-center section-fix">
					<div class="container">
						<div class="inner">
							<h2 class="title">ABOUT, IN BRIEF:</h2>
							<div class="text">
								<p>Who we truly are is seen in the work we’ve been commissioned to do. Branding and design for clients is our calling and our passion. We have fun doing it and we make it fun for said clients. We punch way above our weight for any sized client. Design exists through collaboration. We live for that collaboration.</p>
							</div><span class="signature">This could be longer but TLDR is a thing these days.</span>
						</div>
					</div>
				</section>
				<section class="section-cards section-cards-text">
					<div class="container">
						<div class="card-holder">
							<div class="card-heading reverse text-center"><span>code of conduct / ADAPTED FOR OUR USE FROM THE “THREE RULES” OF THE SPECIAL FORCES</span></div>
							<div class="row">
								<div class="col-md-4"><a class="card" href="#">
										<div class="card-body">
											<h3 class="card-title">LOOK COOL.</h3>
											<div class="card-text">
												<p>Always look your best. When you do you also look confident, calm and in control. BBB extracts the vision within you and uses that to create the best image of what you want to be. This makes you look and feel cool. People will notice!</p>
											</div><strong class="card-subtitle">RULE #1:</strong>
										</div>
										<div class="card-img">
										</div></a>
								</div>
								<div class="col-md-4"><a class="card" href="#">
										<div class="card-body">
											<h3 class="card-title">don’t get lost.</h3>
											<div class="card-text">
												<p>Its easy to get lost if you’re not prepared. Preparendess is a cornerstone of good design and branding. BBB learns what our clients need to be successful. We get to know them beyond what they knew about themselves. We find their true north and proceed with confidence.</p>
											</div><strong class="card-subtitle">RULE #2:</strong>
										</div>
										<div class="card-img">
										</div></a>
								</div>
								<div class="col-md-4"><a class="card" href="#">
										<div class="card-body">
											<h3 class="card-title">if you get lost, look cool.</h3>
											<div class="card-text">
												<p>While preparedness is great, we embrace adventure and maybe even misadventure. Experimentation requires taking chance and allowing yourself to get lost. That’s where creativity lives. We will take chances and explore everything that's possible. But be assured, in the end, you'll look cool.</p>
											</div><strong class="card-subtitle">RULE #3:</strong>
										</div>
										<div class="card-img">
										</div></a>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section-services section-services-xl">
					<div class="container">
						<h3 class="title text-center">SERVICES PERFORMED:</h3>
						<div class="list-holder">
							<div class="row">
								<div class="col-md-3">
									<ul class="list">
										<li><span>BRAND AUDITING</span></li>
										<li><span>BRAND STRATEGY</span></li>
										<li><span>BRAND STEWARDSHIP</span></li>
										<li><span>BRAND RE-DESIGN</span></li>
										<li><span>BRAND EVOLUTION</span></li>
									</ul>
								</div>
								<div class="col-md-3">
									<ul class="list">
										<li><span>IDENTITY DESIGN</span></li>
										<li><span>PACKAGE DESIGN</span></li>
										<li><span>COLLATERAL DESIGN</span></li>
										<li><span>EDITORAL DESIGN</span></li>
										<li><span>DESIGN MESSAGING</span></li>
									</ul>
								</div>
								<div class="col-md-3">
									<ul class="list">
										<li><span>NAMING</span></li>
										<li><span>TYPOGRAPHY</span></li>
										<li><span>ILLUSTRATION</span></li>
										<li><span>SIGNAGE & WAYFINDING</span></li>
										<li><span>DIGITAL DESIGN & DEV</span></li>
									</ul>
								</div>
								<div class="col-md-3">
									<ul class="list">
										<li><span>FRIENDLY CHATS</span></li>
										<li><span>ANXIETY SUPRESSION</span></li>
										<li><span>TV & MOVIE ANALYSIS</span></li>
										<li><span>POP-CULTURE CRITIC</span></li>
										<li><span>RESPONSIVE*</span></li>
									</ul><span class="note">* This is very underrated</span>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section-validation">
					<div class="container">
						<h3 class="title text-center">validation and featured:</h3>
						<ul class="tags-list">
							<li><span>Webby Award Winner</span></li>
							<li><span>The New York Times</span></li>
							<li><span>Grits and Grids Podcast</span></li>
							<li><span>Art of the Menu BEST OF YEAR</span></li>
							<li><span>Friday Likes</span></li>
							<li><span>Under Consideration Quarterly</span></li>
							<li><span>Identity Designed</span></li>
							<li><span>Communication Arts</span></li>
							<li><span>HOW Magazine</span></li>
							<li><span>Step Magazine</span></li>
							<li><span>Graphic Exchange</span></li>
							<li><span>Behance</span></li>
							<li><span>Graphis</span></li>
							<li><span>Design Work Life</span></li>
						</ul>
						<div class="block-memorandum"><strong class="text-center">MEMORANDUM</strong>
							<p>BOYBURNSBARN CAME TO BE not by a spark of fire but rather a spark to prove something. This company, started by John Turner, was originally the online moniker for his portfolio. The notion of a short, stunted, front page, newspaper headline seemed like a great idea for a name. Nothing is more attention grabbing than a good headline and graphic designers are always trying to get attention for themselves and their clients. But what should it say?</p>
							<p>After starting his career in New York City, John got quite a bit of flack for where he grew up. Cornwall, New York sounded like a farm town to most (its not) which led some to feel that a small town kid couldn’t hack it in the big city. In an “oh this name will never stick” moment, the notion of being the boy who burned the barn to prove he was worth paying attention to, and not some small town yokel happened. The name BOY BURNS BARN was conceived.</p>
							<p>Needless to say the name stuck. In 2007 BoyBurnsBarn LLC was formed and in that time some real headlines were actually obtained with the work that was produced. Small town pride has been restored and John is proud of his roots. Our name seems to mean different things now to different people, but we let the work define who we are now. At the very least its hard to ignore a good headline.</p>
						</div>
					</div>
				</section>

{{ end }}
