<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    {{ partial "head.html" . }}
    {{ $aboutTitle := "About" }}
    {{if (eq .Title $aboutTitle) }}
        {{ $bg := .Site.Data.Settings.primary_color}}
        {{ $textColor := .Site.Data.Settings.text_color}}
        <body style="background-color: {{ $bg }}; color: {{ $textColor }};">
            {{ partial "header.html" . }}
            {{ block "main" . }}{{ end }}
        </body>
    {{ else }}
        <body class="home">
          <div id="wrapper">
            {{ block "topnav-holder" . }}{{ end}}
            {{ block "jumbotron" . }}{{ end }}
            {{ block "header" . }}{{ end }}
            <main id="main" role="main">
                {{ block "main" . }}{{ end }}
                {{ partial "contact.html" . }}
            </main>
            {{ partial "footer.html" . }}
          </div>
          {{ partial "javascript"}}
          
        </body>
    {{ end }}
</html>
