<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    {{ partial "head.html" . }}
				{{ if (in (split $.Page.Path "/") "categories") }}
    <body class="work-page">
			{{ else }}
    <body class="{{ $.Page.Params.body_type | default "home" }}">
			{{end }}
			
        <body class="{{ $.Page.Params.body_type | default "home" }}">
          <div id="wrapper">
						{{ if (in (split $.Page.Path "/") "projects") }}
							{{ block "header" . }}{{ end }}
						{{ end }}
						
						{{ block "jumbotron" . }}{{ end }}            
						
						{{ if (in (split $.Page.Path "/") "categories") }}
							{{ with .Site.GetPage "/categories/_index.md" }}
								{{ block "header" . }}{{ end }}
							{{ end }}
						{{ else }}
							{{ if (not ( in (split $.Page.Path "/") "projects")) }}
								{{ block "header" . }}{{ end }}
							{{ end }}
						{{ end }}
            <main id="main" role="main">
                {{ block "main" . }}{{ end }}
            </main>
            {{ partial "footer.html" . }}
          </div>
          {{ partial "javascript"}}
          
        </body>
</html>
				<!-- 
						 -->
