<div class="col-sm-6 col-md-4"><a class="card" href="{{ .URL }}">
	<div class="card-img">
		<div class="border-body">
			<div class="img-color">
				<div class="bg-stretch">
					<span data-srcset="https://d1mw1d2me4nxfw.cloudfront.net/fit-in/500x700/filters:autojpg()/card-{{ .Params.cardImageSlug }}.jpg, https://d1mw1d2me4nxfw.cloudfront.net/filters:autojpg()/card-{{ .Params.cardImageSlug }}.jpg 2x"></span><span data-srcset="https://d1mw1d2me4nxfw.cloudfront.net/fit-in/500x700/filters:autojpg()/card-{{ .Params.cardImageSlug }}.jpg" data-media="(min-width: 768px)"></span>
				</div>
			</div>
		</div>
	</div>
	<h3 class="card-title">
		{{ .Title }}
	</h3>
	</a>
</div>
