{{ define "header" }}
	{{ partial "single/header.html" . }}
{{ end}}

{{ define "jumbotron" }}
				<section class="jumbotron jumbotron-full-width">
					<div class="jumbotron-img">
						<div class="bg-stretch"><span data-srcset="/images/banner-img-{{.Params.heroImageSlug}}.jpg, /images/banner-img-{{.Params.heroImageSlug}}-2x.jpg 2x"></span><span data-srcset="/images/banner-img-{{.Params.heroImageSlug}}.jpg" data-media="(min-width: 768px)"></span></div>
					</div>
				</section>
{{ end}}

{{ define "main" }}

	{{ .Content }}

{{ end }}
