#header {
	position: relative;
	z-index: 9;
	background-color: $coral;
	padding-top: rem-calc(10);
	padding-bottom: rem-calc(10);

	@include media('≥tablet') {
		padding-top: rem-calc(31);
		padding-bottom: rem-calc(15);
	}

	.inner {
		display: flex;
	    align-items: center;
	    justify-content: space-between;
	    padding: 0 rem-cal(2);
	    padding-right: 20px;

	    @include media('≥tablet') {
	    	display: block;
	    	padding: 0;
	    }
	}
}

#header-project-single {
	position: relative;
	z-index: 9;

	@include media('≥tablet') {
		padding-top: 0;
		padding-bottom: 0;
    
	}
 .container{
   @include media('≤tablet') {
     display: flex;
     flex-wrap: nowrap;
     align-items: center;
     justify-content: space-between;
     padding: 0 rem-cal(2);
     padding-right: 20px;
     padding-top: rem-calc(10);
     padding-bottom: rem-calc(10);
    }
    .navbar-toggler {
      @include media('≤tablet') {
        width: 25px;
        margin-left: auto;
        margin-right: 10px;
        display: block;
      }
    }
  }
	
}

.project-page {
  .navbar-nav {
    @include media('≤tablet') {
      background-color: #091f36;
      color: #e1ddbd;
    }
    
  }
}
.about-page {
  .navbar-nav {
    @include media('≤tablet') {
      background-color: #091f36;
      color: #e1ddbd;
    }
    
  }
	#header,
	.navbar-collapse {
		background-color: #a6cdd3;    
	}
}

.contact-page {

  .navbar-nav {
    @include media('≤tablet') {
      background-color: #091f36;
      color: #e1ddbd;
    }
  }
  
	#header,
	.navbar-collapse {
		background-color: #a9c66b;
	}
}

.work-page {
  .navbar-nav {
    @include media('≤tablet') {
      background-color: #091f36;
      color: #e1ddbd;
    }
  }
  
  #header,
	.navbar-collapse {
		background-color: $yellow;
	}
}

.navbar-brand-holder {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.navbar-brand {
	display: none;
	max-width: 118px;
	flex: 0 0 118px;
	margin-top: rem-calc(7);
	margin-left: rem-calc(-24);
	margin-right: rem-calc(9);

	@include media('≥tablet') {
		display: block;
	}
}

.navigation-logo-title {
  display: none;
}
.logo-title {
	max-width: 645px;
	//flex: 0 0 645px;
  a:hover {
   text-decoration: none;
  }

	h2 {
		position: relative;
		line-height: 1;
		font-size: rem-calc(30);
		margin-top: rem-calc(5);
		margin-bottom: 0;
		text-align: center;
		letter-spacing: .069em;

		@include media('≥375px') {
			font-size: rem-calc(50);
		}

		@include media('≥tablet') {
			letter-spacing: .087em;
			padding-left: rem-calc(13);
			padding-right: rem-calc(2);
			font-size: rem-calc(80)
		}

		@include media('≥desktop') {
			font-size: rem-calc(105)
		}



		&:after {
			display: none;
			position: absolute;
			top: 0.05em;
			bottom: 0;
			content: '';
			height: .8em;
			width: 4px;
			right: 0;
			background-color: #173350;

			@include media('≥tablet') {
				display: block;
			}
		}

		&:before {
			display: none;
			position: absolute;
			top: 0.05em;
			left: 0;
			bottom: 0;
			content: '';
			height: .8em;
			width: 4px;
			background-color: #173350;

			@include media('≥tablet') {
				display: block;
			}
		}
	}
}

.logo-text-sm {
	display: none;
	font-family: $vulf-mono-font;
	max-width: 105px;
	flex: 0 0 105px;
	font-weight: 700;
	font-size: rem-calc(14);
	color: #173350;
	text-align: center;
	line-height: 1.2;
	letter-spacing: 0em;
	padding: rem-calc(16) rem-calc(5) 0 rem-calc(5);

	@include media('≥tablet') {
		display: block;
	}
  
	@include media('≥desktop') {
		font-size: rem-calc(16);
  	max-width: 115px;
  	flex: 0 0 115px;
    
	}
  
}

.header-text {
	display: none;
	max-width: 765px;
	margin-left: auto;
	margin-right: auto;
	font-family: $vulf-mono-font;
	font-weight: 700;
	font-size: rem-calc(13);
	color: #0a2341;
	text-align: center;
	letter-spacing: -.09em;
	word-spacing: -.1em;

  @include media('≥tablet') {
  	display: block;
  }

  p {
  	margin-bottom: 0;
  }
}

.navbar {
	position: static;
	padding: 0;
	color: #0a2341;

	@include media('≥tablet') {
		padding: rem-calc(13) 0 0;
	}

  .front-cover {
    display: none;
  }
	&.topnavbar {
		color: $white;
	}
  &.fixed-position-faux,
	&.fixed-position {
		border-bottom: 1px solid black;
		
		padding: 0px;
		
	   .container{
		 	@include media('≤tablet') {
		 		display: none;
		 	}
	    max-width:1500px;

			padding: 0px;
        .front-cover {
    		 	@include media('≤tablet') {
    		 		display: none;
    		 	}
          
          display: flex;
          flex-direction: row;
          position: relative;
          a {
            color: $coral;
            font-weight: bold;
            text-decoration: none;
          }
          
          .front-cover-exclaim {
            font-size: rem-calc(25);
          }
        
      }

				.navigation-logo-title {
					display: block;
//          position: absolute;
					margin-left: 200px;
					padding:0;
					margin:0;
					a {
						text-decoration: none;
					}
					h2 {
						font-size: rem-calc(45);
						margin:0;
						padding: 0 0 0 10px;
						color: $coral;
            letter-spacing: 0.055em;;
            
					}
				}
      
				div{
					&.navbar-collapse {
						background-color: #f5f4eb;
					}
				
				}
			
				
				padding: 0px;
			
				.navbar-nav{
          &.mr-auto{
            @include media('≤1024px') {
              margin-right: 0 !important;
            }
            @include media('≤768px') {
              margin-right: auto !important;;
            }
            
          }
					&:after,
					&:before {
						display: none;
					}
				}
//			}
			
	  }
		
		
	}

}
.out-of-view{ display: none;}

.topnavbar-holder {
	// @include animate(border-bottom background-color);

	display: none;
	position: relative;
	left: 0;
  
	right: 0;
	z-index: 999;
	top: 16px;
	background-color: transparent;

	@include media('≥tablet') {
		display: block;
  	position: relative;
    top:50px;
	}

	.inner {
		// @include animate(border-bottom);

		display: flex;
		align-items: center;
		width: 100%;
		border-bottom: 2px solid transparent;
	}

	.navbar-nav {
		padding: 0;
    margin-right: 0;
    margin-left: rem-calc(26);
    text-align: center;

		&:after,
		&:before {
			display: none;
		}

		li {
			&:before {
				background-color: $white;
			}
		}
	}

	.navbar-brand {
		// @include animate(opacity);

		display: none;
		font-family: 'carnaby_streetclean';
		opacity: 0;
		max-width: none;
		flex: 0 0 auto;
		color: $coral;
		font-size: rem-calc(25);
		text-transform: uppercase;
		letter-spacing: 0.01em;
		margin-top: 0;
		letter-spacing: .14em;

		@include media('≥tablet') {
			display: block;
		}

		a {
			color: inherit;
			display: inline-block;
			vertical-align: middle;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.topnavbar {
	padding: 0;
}

.fixed-position,
.header-project {
  z-index: 99999;
  background-color: #f5f4eb;
	.navbar-brand {
		opacity: 1;
	}

	.topnavbar {
		background-color: #f5f4eb;

		.inner {
			border-color: #0a2341;
		}
	}

	.navbar {
		&.topnavbar {
			color: $blue;

		}
	}

	.navbar-nav {
//          margin-left: 335px;
		li {
			+ li {
				&:before {
					background-color: $blue;
				}
			}
		}
	}
}

.navbar-collapse {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #f18f81;

  @include media('≥tablet') {
  	position: static;
  }
  @include media('≤tablet') {
    background-color: #091f36;
    color: #e1ddbd;
  }
  
}

.navbar-nav {
	max-width: 460px;
	padding-top: rem-calc(19);
	padding-bottom: rem-calc(19);
	margin-left: auto;
	margin-right: auto;
	font-family: 'ohno_blazeface12_point';
	font-size: rem-calc(24);
	letter-spacing: .15em;
	text-align: center;

	@include media('≥tablet') {
		position: relative;
	}
  

	&:after,
	&:before {
		position: absolute;
		height: 3px;
		content: '';
		top: 0;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		background-color: #283a52;

		@include media('≥tablet') {
			max-width: 353px;
			width: 100%;
		}
     
    
	}
  
	
	

	&:before {
		top: auto;
		bottom: 0;
	}

	li {
		position: relative;
		padding: rem-calc(19);
		line-height: 1;

		@include media('≥tablet') {
			padding: 0 rem-calc(19);
		}
    
    &.nav-info {
      @include media('≥tablet') {
        display: none ;
      }
      &.first{
          margin-top:80px;
        }
        &.llc {
          margin-top:80px;
        }
      
  	  font-family: $vulf-mono-font;
      font-size: .8em;
      
    }
		&.active {
			a {
				&:after {
					opacity: 1;
				}
			}
		}

      @include media('≤tablet') {
        font-size: 2.6em;
      }
    
		+ li {
      
			&:before {

				@include media('≥tablet') {
					position: absolute;
					left: 0;
					content: '';
					width: 2px;
					height: .8em;
					top: 0;
					bottom: 0;
					margin-top: auto;
					margin-bottom: auto;
					background-color: #0a2341;
				}
			}
		}
	}

  @include media('≤tablet') {
    a[href^=tel] {
      color: #e1ddbd;
    }
  }
	a {
		position: relative;
		color: inherit;
    
    

		&:after {
			@include animate(opacity);

			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			height: 3px;
			opacity: 0;
			background: url('images/dotted.png');
		}

		&:hover {
			text-decoration: none;

			&:after {
				opacity: 1;
			}
		}
	}
}

//.navbar-toggler-test {
//  width: 25px;
//  border: none;
//
//  &:before ,
//  &:after {
//    display: block;
//    content: '';
//    height: 4px;
//    background-color: #173350;
//  }
//
//  span {
//    display: block;
//    width: 100%;
//    height: 4px;
//    background-color: #173350;
//    margin: rem-calc(8) 0;
//  }
//}

.header-project {
	.topnavbar-holder {
		top: 0;
		display: block;
		padding-top: rem-calc(0);
		padding-bottom: rem-calc(11);
	}

	.navbar-collapse {

		@include media('≥tablet') {
			background-color: transparent;
		}
	}

	.mobile-brand-holder {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: rem-calc(10);

		.navbar-brand {
			display: block;
		}

		@include media('≥tablet') {
			display: none;
		}
	}
}

#smokecontainer, .navbar-brand-holder {
  position: relative;
}
.navbar-brand-holder canvas {
  position: absolute;
//  left: 500px;
//  bottom: 18px;
  left: 331px;
  top: -66px;
	@include media('≥tablet') {
    display: none;
  }
//  border: 1px black solid;
}

canvas {
  @include media('≤tablet') {
    display: none;
  }
}

#smoke-background {
  display: none;
  
}


	