{{ define "topnav-holder"}}
			<div class="topnavbar-holder">
				<nav class="topnavbar navbar navbar-expand-md">
					<div class="container">
						<div class="inner">
							<div class="navbar-brand"><a href="#">BOYBURNSBARN</a></div>
								{{ partial "navigation-links.html" . }}
						</div>
					</div>
				</nav>
			</div>
{{ end}}

{{ define "jumbotron" }}

			<section class="jumbotron">
				<div class="jumbotron-img">
					<div class="bg-stretch"><span data-srcset="/images/banner-img-crack.jpg, /images/banner-img-crack-2x.jpg 2x"></span><span data-srcset="/images/banner-img-crack.jpg" data-media="(min-width: 768px)"></span></div>
					<div class="heading">
						<h1>BOYBURNSBARN</h1>
					</div>
				</div>
			</section>

{{ end }}

{{ define "header" }}
	{{ partial "header.html" . }}
{{ end}}

{{ define "main" }}
				<section class="section-cards">
					<div class="container">
						<div class="card-heading text-center"><span>SPECIALIZING IN BUT NOT LIMITED TO THE FOLLOWING:</span></div>
						<div class="card-holder">
							<div class="row">
								{{ range first 6 ( where .Site.RegularPages "Type" "project" ) }}
									{{ .Render "summary" }}
								{{ end }}
							</div>
						</div>
					</div>
				</section>
				<section class="section-services">
					<div class="services-block"><span class="title">SERVICES PERFORMED:</span>
						<div class="list-holder">
							<ul class="list">
								<li><span>BRANDING NARRATION</span></li>
								<li><span>IDENTTIY DESIGN</span></li>
								<li><span>TYPOGRAPHY</span></li>
								<li><span>ILLUSTRATION</span></li>
								<li><span>COPY WRITING</span></li>
							</ul>
							<ul class="list">
								<li><span>PACKAGING DESIGN</span></li>
								<li><span>SIGNAGE & WAYFINDING</span></li>
								<li><span>EDITORIAL DESIGN</span></li>
								<li><span>FRIENDLY CHATS</span></li>
								<li><span>ANXIETY RELIEF</span></li>
							</ul>
						</div>
						<div class="services-logo"><img src="images/services-logo.png" width="125" height="86" alt="image description"></div>
					</div>
				</section>
				<section class="section-cards">
					<div class="container">
						<div class="row">
							<div class="col-md-4"><a class="card" href="#">
									<div class="card-body">
										<h3 class="card-title">the grits &amp; grid podcast</h3>
										<div class="card-text">
											<p>I was a special guest a while back. You can hear me talk about design-y stuff and maybe embarrass myself!</p>
										</div><strong class="card-subtitle">Media</strong>
									</div>
									<div class="card-img">
										<div class="img-black">
											<div class="bg-stretch"><span data-srcset="images/card-img-bk-07.jpg, images/card-img-bk-07-2x.jpg 2x"></span><span data-srcset="images/card-img-bk-07.jpg" data-media="(min-width: 768px)"></span></div>
										</div>
										<div class="img-color">
											<div class="bg-stretch"><span data-srcset="images/card-img-07.jpg, images/card-img-07-2x.jpg 2x"></span><span data-srcset="images/card-img-07.jpg" data-media="(min-width: 768px)"></span></div>
										</div>
									</div></a>
							</div>
							<div class="col-md-4"><a class="card" href="#">
									<div class="card-body">
										<h3 class="card-title">Tisch school of the arts / nyu</h3>
										<div class="card-text">
											<p>Branding and collateral for the annual, dari I say, biggest Gala event in school history honoring the dean herself.</p>
										</div><strong class="card-subtitle">Branding and Identity</strong>
									</div>
									<div class="card-img">
										<div class="img-black">
											<div class="bg-stretch"><span data-srcset="images/card-img-bk-08.jpg, images/card-img-bk-08-2x.jpg 2x"></span><span data-srcset="images/card-img-bk-08.jpg" data-media="(min-width: 768px)"></span></div>
										</div>
										<div class="img-color">
											<div class="bg-stretch"><span data-srcset="images/card-img-08.jpg, images/card-img-08-2x.jpg 2x"></span><span data-srcset="images/card-img-08.jpg" data-media="(min-width: 768px)"></span></div>
										</div>
									</div></a>
							</div>
							<div class="col-md-4"><a class="card" href="#">
									<div class="card-body">
										<h3 class="card-title">that work in progress</h3>
										<div class="card-text">
											<p>A dumping ground of upcoming work, a place to throw projects while things are busy until we can properly make a case study.</p>
										</div><strong class="card-subtitle">Branding and Identity</strong>
									</div>
									<div class="card-img">
										<div class="img-black">
											<div class="bg-stretch"><span data-srcset="images/card-img-bk-09.jpg, images/card-img-bk-09-2x.jpg 2x"></span><span data-srcset="images/card-img-bk-09.jpg" data-media="(min-width: 768px)"></span></div>
										</div>
										<div class="img-color">
											<div class="bg-stretch"><span data-srcset="images/card-img-09.jpg, images/card-img-09-2x.jpg 2x"></span><span data-srcset="images/card-img-09.jpg" data-media="(min-width: 768px)"></span></div>
										</div>
									</div></a>
							</div>
						</div>
					</div>
				</section>
{{ end }}

