.bread-crumbs-block {
	padding-top: rem-calc(13);
	padding-bottom: rem-calc(13);
	font-style: italic;
	font-size: rem-calc(12);

	@include media('≥tablet') {
			padding-top: rem-calc(35);
	padding-bottom: rem-calc(13);
	}

	nav {
		border-bottom: 2px solid #173350;
		padding-bottom:  rem-calc(8);

		ol {
			padding-bottom: 0;

			li {
				&.active {
					text-decoration: line-through;
				}
			}
		}
	}

	.text {
		text-align: center;
    font-size: rem-calc(10);
    letter-spacing: .005em;
    padding: rem-calc(11) 0;
    font-style: normal;
	}
}