.jumbotron {
	position: relative;
	display: none;
	padding: $jumbotron-padding;
	margin-bottom: 0;

	&-full-width {
		padding: 0;
	}

	@include media('≥tablet') {
		display: block;
	}

	.jumbotron-img {
		// overflow: hidden;
	    position: relative;
		height: 100vh;
	    z-index: 1;
	}

	.heading {
		position: absolute;
		left: 0;
		right: 0;
		bottom: -2.7em;
		z-index: 2;
		text-align: center;

		h1 {
			line-height: 1;
	    	margin-bottom: 0;
	    	color: $body-bg;
	    	letter-spacing: .046em;
        font-size: 18vw;
		}
	}

	.bg-stretch {
	    height: 100vh;
	    background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
	}
}

.home {
	.jumbotron {
		.bg-stretch {
			position: absolute;
			height: 100vh;
			width: 100%;
			z-index:1; // this is important
			top:0;
			left:0;
			opacity:0;
			display:none;
			&.prime {
				display: block;
				opacity: 1;
			}
		}
	}
}
.work-page {
	.jumbotron {
    display: block;
  }
}
