.section-validation {
	padding-top: rem-calc(15);
	padding-bottom: rem-calc(40);

	.title {
		font-size: 2.0125rem;
  	margin-bottom: 1.5625rem;
  	letter-spacing: 0.02em;
    
	}
}

.block-memorandum {
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
	padding: rem-calc(15);
	border: 1px dashed #394d63;
	font-size: rem-calc(11);
	color: $blue;

	@include media('≥tablet') {
		padding: rem-calc(65) rem-calc(100);
	}

	strong {
		display: block;
		font-style: italic;
		text-transform: uppercase;
		margin-bottom: rem-calc(17);
		letter-spacing: 0.1em;
	}
}

.tags-list {
	@extend %listreset;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	font-style: italic;
	font-size: 1.125em;
	margin-bottom: rem-calc(57);

	li {
		&:after {
			content: '/';
			margin: 0 rem-calc(5);
		}
    
	}
  
  @include media("≤768px"){
    display: block;
    margin-left: 5px;
    li {   
       display: block;
       font-size: 0.75em;
      
  		&:after {
        display:none;
  		}
  		&:before {
  			display: inline-block;
  			margin-right: rem-calc(16);
  			content: '';
  			width: 4px;
  			height: 4px;
  			border-radius: 50%;
  			background-color: $blue;
      }
    }
  
  }
}